<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>To Do List</title>
</head>

<body>

    <div class="box" id="heading">
        <h1><%= KindOfDay %></h1>
    </div>

    <div class="box">
        <% for(var i=0 ; i<NewListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= NewListItems[i] %></p>
        </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>

    <footer>
        Made With ❤ By Krishan Kumar
    </footer>

</body>

</html>